.container-albums{
padding: 5%;
}
a .lamina{
  height: 18.75rem;
  width: 90%;
}
.row-laminas{
  padding-top: 40px;
}
.galeria{
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;  
    color: white;
}
