

.banner{
   background-image: url('https://firebasestorage.googleapis.com/v0/b/tienda-53ad2.appspot.com/o/portada.png?alt=media&token=b2c55b82-2eb9-4266-b9f2-63b056989fc5');
   background-position: top center;
   background-size: cover;
   height: 100%;
   padding: 25%;
   background-repeat: no-repeat;
   display: flex;
   justify-content:center;

}
.Members-text{
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-weight: 900;
    text-decoration: none;
}
link>.nav-link{
    text-decoration: none;
}
.nav-link{
    font-weight: 900;
    font-style: italic;
font-size: 30px;
color:white;
}
